<% provide(:title, 'All boards') %>
<h1>All Boards</h1>

<ul class="boards">
  <% @boards.each do |board| %>
    <li>
      
      
      <%= link_to board.name, board %>
      (<%= board.width %>x<%= board.height %>)
  
    </li>
    <% end %>

</ul>