<% provide(:title, @board.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @board.name %>
        <button type="button">Create board</button>
      </h1>
    </section>
</div>